<%- include("../partials/header") -%>

<div class="container"><div id='map'></div></div>

<div class="container">
  <header class="jumbotron">
    <h1>WELCOME TO YELPCAMP!</h1>
    <p>View Our hand-picked Campgrounds all over the world</p>
    <p>
      <a class="btn btn-outline-dark btn-lg" href="/campgrounds/new">Add New Campgrounds</a>
    </p>
    <p>
      <form action="/campgrounds" method="GET" class="form-inline">
        <div class="form-group">
          <input type="text" name="search" placeholder="campgrounds search..." class="form-control">
          <input type="submit" class="btn btn-outline-dark">
        </div>
      </form>
    </p>
  </header>

  <div>
      <% if(noMatch.length !== 0) { %>
        <h3><%= noMatch %></h3>
      <% } %>
  </div>

  <div class="row">
    <%campgrounds.docs.forEach(function(campground) {%>
    <div class="col-md-4 col-sm-6">
      <div class="card mb-4" style="text-align: center;">
        <img class="img-fluid card-img-top" src="<%= campground.images[0].url %>">
        <!-- campground.images[0].url -->
        <div class="card-body">
          <h5 class="card-title"><%= campground.name %></h5>
          <% if (campground.rating === 0) { %>
              <em>No reviews yet.</em>
          <% } else { %>
              <span class="stars-active" style="width:0%">
                <% var active = 0; %>
                <% var inactive = 0; %>
                <% if(campground.rating > 0 && campground.rating <= 1) { %>
                  <% active = 1; %>
                  <% inactive = 4; %>
                <% } else if(campground.rating > 1 && campground.rating <= 2) { %>
                  <% active = 2; %>
                  <% inactive = 3; %>
                <% } else if(campground.rating > 2 && campground.rating <= 3) { %>
                  <% active = 3; %>
                  <% inactive = 2; %>
                <% } else if(campground.rating > 3 && campground.rating <= 4) { %>
                  <% active = 4; %>
                  <% inactive = 1; %>
                <% } else { %>
                  <% active = 5; %>
                  <% inactive = 0; %>
                <% } %>
                <% for(var i = 0;i < active;i++) { %>
                  <i class="fa fa-star stars" aria-hidden="true"></i>
                <% } %>
              </span>
              <span class="stars-inactive" style="width:0%">
                <% for(var i = 0;i < inactive;i++) { %>
                  <i class="fa fa-star-o stars" aria-hidden="true"></i>
                <% } %>
              </span>
          <% } %>
          <p>
            <a href="/campgrounds/<%= campground._id %>" class="btn btn-outline-dark btn-moreinfo">More Info</a>
          </p>
        </div>
      </div>
    </div>
  <%});%>

  </div>

<div class="container">

  <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <% if(campgrounds.totalDocs > 0) { %>
      <% if(campgrounds.page - 1) { %>
      <li class="page-item">
        <a class="page-link" href="/campgrounds?page=<%= campgrounds.page - 1 %>" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <% } %>
      <% for(let i = 1;i <= campgrounds.totalPages;i++) { %>
        <li class="page-item"><a class="page-link" href="/campgrounds?page=<%= i %>"><%= i %></a></li>
      <% } %>
      <% if(campgrounds.page < campgrounds.totalPages) { %>
      <li class="page-item">
        <a class="page-link" href="/campgrounds?page=<%= campgrounds.page + 1 %>" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      <% } %>
    <% } %>
    
  </ul>
  
</nav>
</div>

<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoieWxkMTk5NiIsImEiOiJjanhtaDF6bnMwM3N6M25saXlkeTljNDlpIn0.Qq-DvJT26P1TcR8pqNaeLA';
  var campgrounds = {features: <%- JSON.stringify(campgrounds.docs) %>};
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/dark-v10',
    center: [-98.55562, 39.809734],
    zoom: 3.3
  });

map.addControl(new MapboxGeocoder({
    accessToken: mapboxgl.accessToken
}));

map.on('load', function() {
    // Add a new source from our GeoJSON data and set the
    // 'cluster' option to true. GL-JS will add the point_count property to your source data.
    map.addSource("campgrounds", {
        type: "geojson",
        data: campgrounds,
        cluster: true,
        clusterMaxZoom: 14, // Max zoom to cluster points on
        clusterRadius: 50 // Radius of each cluster when clustering points (defaults to 50)
    });

    map.addLayer({
        id: "clusters",
        type: "circle",
        source: "campgrounds",
        filter: ["has", "point_count"],
        paint: {
            // Use step expressions (https://www.mapbox.com/mapbox-gl-js/style-spec/#expressions-step)
            // with three steps to implement three types of circles:
            //   * Blue, 20px circles when point count is less than 100
            //   * Yellow, 30px circles when point count is between 100 and 750
            //   * Pink, 40px circles when point count is greater than or equal to 750
            "circle-color": [
                "step",
                ["get", "point_count"],
                "#51bbd6",
                100,
                "#f1f075",
                750,
                "#f28cb1"
            ],
            "circle-radius": [
                "step",
                ["get", "point_count"],
                20,
                100,
                30,
                750,
                40
            ]
        }
    });

    map.addLayer({
        id: "cluster-count",
        type: "symbol",
        source: "campgrounds",
        filter: ["has", "point_count"],
        layout: {
            "text-field": "{point_count_abbreviated}",
            "text-font": ["DIN Offc Pro Medium", "Arial Unicode MS Bold"],
            "text-size": 12
        }
    });

    map.addLayer({
        id: "unclustered-point",
        type: "circle",
        source: "campgrounds",
        filter: ["!", ["has", "point_count"]],
        paint: {
            "circle-color": "#11b4da",
            "circle-radius": 5,
            "circle-stroke-width": 1,
            "circle-stroke-color": "#fff"
        }
    });

    map.on('click', 'unclustered-point', function(e) {
      var coordinates = e.features[0].geometry.coordinates.slice();
      console.log(e.features[0]);
      var description = e.features[0].properties.description;

      // Ensure that if the map is zoomed out such that multiple
      // copies of the feature are visible, the popup appears
      // over the copy being pointed to.
      while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
        coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
      }

      new mapboxgl.Popup()
        .setLngLat(coordinates)
        .setHTML(description)
        .addTo(map);
    });

    // inspect a cluster on click
    map.on('click', 'clusters', function(e) {
        var features = map.queryRenderedFeatures(e.point, { layers: ['clusters'] });
        var clusterId = features[0].properties.cluster_id;
        map.getSource('campgrounds').getClusterExpansionZoom(clusterId, function (err, zoom) {
            if (err)
                return;

            map.easeTo({
                center: features[0].geometry.coordinates,
                zoom: zoom
            });
        });
    });

    var mouseenterCursor = function() {
        map.getCanvas().style.cursor = 'pointer';
    };
    var mouseLeaveCursor = function() {
        map.getCanvas().style.cursor = '';
    };
    map.on('mouseenter', 'clusters', mouseenterCursor);
    map.on('mouseleave', 'clusters', mouseLeaveCursor);
    map.on('mouseenter', 'unclustered-point', mouseenterCursor);
    map.on('mouseleave', 'unclustered-point', mouseLeaveCursor);
});
</script>
<!-- <script type="/javascripts/allCampgroundsClusterMap.js"></script> -->



<%- include("../partials/footer") -%>
