<%- include("../partials/header") -%>

<div class="container">
  <header class="jumbotron">
    <h1>WELCOME TO YELPCAMP!</h1>
    <p>View Our hand-picked Campgrounds all over the world</p>
    <p>
      <a class="btn btn-outline-dark btn-lg" href="/campgrounds/new">Add New Campgrounds</a>
    </p>
    <p>
      <form action="/campgrounds" method="GET" class="form-inline">
        <div class="form-group">
          <input type="text" name="search" placeholder="campgrounds search..." class="form-control">
          <input type="submit" class="btn btn-outline-dark">
        </div>
      </form>
    </p>
  </header>

  <div>
      <% if(noMatch.length !== 0) { %>
        <h3><%= noMatch %></h3>
      <% } %>
  </div>

  <div class="row">
    <%campgrounds.docs.forEach(function(campground) {%>
    <div class="col-md-4 col-sm-6">
      <div class="card mb-4" style="text-align: center;">
        <img class="img-fluid card-img-top" src="<%= campground.images[0].url %>">

        <div class="card-body">
          <h5 class="card-title"><%= campground.name %></h5>
          <% if (campground.rating === 0) { %>
              <em>No reviews yet.</em>
          <% } else { %>
              <span class="stars-active" style="width:0%">
                <% for(var i = 0;i < campground.rating;i++) { %>
                  <i class="fa fa-star stars" aria-hidden="true"></i>
                <% } %>
              </span>
              <span class="stars-inactive" style="width:0%">
                <% for(var i = 0;i < 5 - campground.rating;i++) { %>
                  <i class="fa fa-star-o stars" aria-hidden="true"></i>
                <% } %>
              </span>
          <% } %>
          <p>
            <a href="/campgrounds/<%= campground._id %>" class="btn btn-outline-dark btn-moreinfo">More Info</a>
          </p>
        </div>
      </div>
    </div>
  <%});%>

  </div>

<div class="container">

  <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <% if(campgrounds.totalDocs > 0) { %>
      <% if(campgrounds.page - 1) { %>
      <li class="page-item">
        <a class="page-link" href="/campgrounds?page=<%= campgrounds.page - 1 %>" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <% } %>
      <% for(let i = 1;i <= campgrounds.totalPages;i++) { %>
        <li class="page-item"><a class="page-link" href="/campgrounds?page=<%= i %>"><%= i %></a></li>
      <% } %>
      <% if(campgrounds.page < campgrounds.totalPages) { %>
      <li class="page-item">
        <a class="page-link" href="/campgrounds?page=<%= campgrounds.page + 1 %>" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      <% } %>
    <% } %>
    
  </ul>
  
</nav>
</div>




<%- include("../partials/footer") -%>
