<%- include("../partials/header") -%>

<div class="container">
  <header class="jumbotron">
    <h1>WELCOME TO YELPCAMP!</h1>
    <p>View Our hand-picked Campgrounds all over the world</p>
    <p>
      <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Campgrounds</a>
    </p>
    <p>
      <form action="/campgrounds" method="GET" class="form-inline">
        <div class="form-group">
          <input type="text" name="search" placeholder="campgrounds search..." class="form-control">
          <input type="submit" class="btn btn-outline-dark">
        </div>
      </form>
    </p>
  </header>

  <div>
      <% if(noMatch.length !== 0) { %>
        <h3><%= noMatch %></h3>
      <% } %>
  </div>

  <div class="row">
    <%campgrounds.forEach(function(campground) {%>
    <div class="col-md-3 col-sm-6">
      <div class="card h-100">
        <img class="img-fluid card-img-top" src="<%= campground.image %>">
        <div class="card-body">
          <h4 class="card-title"><%= campground.name %></h4>
          <p>
            <a href="/campgrounds/<%= campground._id %>" class="btn btn-outline-dark">More Info</a>
          </p>
        </div>
      </div>
    </div>
  <%});%>

</div>


<%- include("../partials/footer") -%>
