<!-- <%- include("../partials/header") -%> -->


<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>YelpCamp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/e1b3800b4b.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Montserrat:400,700i|Open+Sans+Condensed:300|Quicksand|Ubuntu&display=swap" rel="stylesheet">
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <style>
      /*body {
        margin: 0;
        padding: 0;
      }

      #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
      }*/
      .marker {
        background-image: url('/images/mapbox-icon.png');
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
      }

      .mapboxgl-popup {
        max-width: 200px;
      }

      .mapboxgl-popup-content {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
      }
    </style>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


  </head>
  <body>
<section id="heading_part">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light">

        <a class="navbar-brand" href="/" style="color: #fff;">NewWorld</a>
         <a class="nav-link" href="/campgrounds">Home <span class="sr-only">(current)</span></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"> 
           <span class="navbar-toggler-icon"></span>
       </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

          <ul class="navbar-nav ml-auto">
            <% if(!currentUser) { %>
              <li class="nav-item">
                <a class="nav-link" href="/login" style="color: #fff;">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/register" style="color: #fff;">Signup</a>
              </li>
            <%} else {%>
              <li class="nav-item">
                <a class="nav-link" href="/users/<%=currentUser._id%>" style="color: #fff;"><%=currentUser.username%>'s profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout" style="color: #fff;">Log Out</a>
              </li>
            <%}%>
          </ul>

        </div>

    </nav>

   </div> 
</section>

    <div class="container-fluid" style="font-family: 'Quicksand', sans-serif;">
      <% if(error && error.length > 0) { %>
        <div class="alert alert-danger" role="alert">
          <%= error %>
        </div>
      <% } %>
      <% if(success && success.length > 0){%>
        <div class="alert alert-success" role="alert">
          <%= success %>
        </div>
      <% } %>
    </div>


<div class="container-fluid" style="margin-top: 15px;">
  <div class="row">
    <div class="col-md-3">
      <!-- <p class="lead">YelpCamp</p> -->
      <!-- <div class="list-group">
        <li class="list-group-item active">Info 1</li>
        <li class="list-group-item">Info 2</li>
        <li class="list-group-item">Info 3</li>
      </div> -->
      <div id="map">
        
      </div>
    </div>
    <div class="col-md-9">
      <div class="card">
        <div class="card-columns">
          <% campground.images.forEach(function(image) { %>
            <div class="card">
              <img class="img-fluid card-img-top" src="<%= image.url %>">
            </div>
          <% }); %>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <p class="text-right float-right" style="color: #000;font-family: 'Quicksand', sans-serif; font-size: 20px;">$<%= campground.price %>/person</p>
          <h4 class="card-title text-left"><a href="#" class="campground-name"><%= campground.name %></a></h4>
          <p class="card-text" style="font-family: 'Quicksand', sans-serif;"><%= campground.description %></p>
          <p class="card-text" style="font-family: 'Indie Flower', cursive;"><em>submitted by </em><a href="/users/<%= campground.author.id %>"><em><%= campground.author.username %></em></a><em>, <%= moment(campground.createdAt).fromNow() %></em></p>
          <%if((currentUser && campground.author.id.equals(currentUser._id)) || (currentUser && currentUser.isAdmin)){%>
            <a href="/campgrounds/<%= campground._id %>/edit"><i class="far fa-edit fa-lg" style="color: #000;"></i></a>
            <form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="post">
              <button type="submit" style="border: 0; background: none;">
                <i class="far fa-trash-alt fa-lg"></i>
              </button>
            </form>
          <%}%>

          <!-- save part -->
          <% if(!currentUser) { %>
            <button class="jsSaveBtn btn btn-outline-dark">
              <i class="far fa-star"></i>
              <span><em>Total savings: <%= campground.saving_users.length %></em></span>
            </button>
          <% } else { %>
            <button class="jsSaveBtn btn btn-outline-dark">
              <% if(foundUserSave) {%>
                <i class="far fa-star" style="background-color: gold;"></i>
                <span><em>Total savings: <%= campground.saving_users.length %></em></span>
              <% } else {%>
                <i class="far fa-star"></i>
                <span><em>Total likings: <%= campground.saving_users.length %></em></span>
              <% } %>
            </button>
          <% } %>

          <!-- LIKING PART -->
          <% if(!currentUser) { %>
            <button class="jsLikeBtn btn btn-outline-dark">
              <i class="far fa-thumbs-up"></i>
              <span><em>Total likings: <%= campground.liking_users.length %></em></span>
            </button>
          <% } else { %>
            <button class="jsLikeBtn btn btn-outline-dark">
              <% if(foundUserLike) {%>
                <i class="far fa-thumbs-up" style="background-color: gold;"></i>
                <span><em>Total likings: <%= campground.liking_users.length %></em></span>
              <% } else {%>
                <i class="far fa-thumbs-up"></i>
                <span><em>Total likings: <%= campground.liking_users.length %></em></span>
              <% } %>
            </button>
          <% } %>
        </div>

      </div>

      <!--Review section-->
      <div class="card">
        <div class="card-body">
          <div>
          <% if (campground.rating === 0) { %>
            <h5>
              <em style="font-family: 'Quicksand', sans-serif;">No reviews yet.</em>
            </h5>
          <% } else { %>
                    <p>
                        <%- '<span class="fa fa-star stars"></span>'.repeat(campground.rating) %>
                        <em style="font-family: 'Quicksand', sans-serif;">(total reviews: <%= campground.reviews.length %>)</em>
                    </p>
                    <p style="font-family: 'Quicksand', sans-serif;">
                        Current campground rating: <strong><%= campground.rating.toFixed(2) %></strong>
                    </p>
                    <p><h4 style="font-family: 'Quicksand', sans-serif;">Latest reviews for this campground:</h4></p>

                    </div>
                    <hr style="margin-top: 0;">
                    <% campground.reviews.slice(0, 5).forEach(function(review){ %>
                    <div class="row">
                        <div class="col-md-4">
                            <%- '<span class="fa fa-star stars"></span>'.repeat(review.rating) %>
                            <div><img style="width: 15%;margin-right: 5%;clip-path: circle();" src="<%=review.author.avatar%>"  class="customer-img"><span style="font-family: 'Indie Flower', cursive;">Review by: <strong><a href="/users/<%= review.author.id %>"><em><%= review.author.username %></em></a></strong></span></div>
                            <span style="margin-left: 20%;"><em style="font-family: 'Quicksand', sans-serif;"><%= review.updatedAt.toDateString() %></em></span>
                        </div>
                        <div class="col-md-8">
                            <p style="text-align: justify; word-wrap: break-word;font-family: 'Quicksand', sans-serif;">
                                <%= review.text %>
                            </p>
                            <% if(currentUser && review.author.id.equals(currentUser._id)){ %>
                            <a style="color: #000;"
                               href="/campgrounds/<%=campground._id %>/reviews/<%=review._id %>/edit"><i class="far fa-edit" style="color: #000;"></i></a>
                            <form style="display: inline;" class="delete-form" action="/campgrounds/<%=campground._id %>/reviews/<%=review._id %>?_method=DELETE" method="POST">
                                <button type="submit" style="border: 0; background: none;">
                                  <i class="far fa-trash-alt"></i>
                                </button>
                            </form>
                            <% } %>
                        </div>
                    </div>
                    <hr>
                    <% }); %>
                    <div style="margin-bottom: 10px;">
                        <h4 style="font-family: 'Quicksand', sans-serif;"><a href="/campgrounds/<%= campground._id %>/reviews"><i class="fa fa-search" aria-hidden="true"></i> See all reviews</a></h4>
                    </div>
                    <% } %>
                    <div>
                        <a class="<% if (currentUser && campground.reviews.some(function (review) {return review.author.id.equals(currentUser._id)})) { %> disabled <% } %>" href="/campgrounds/<%= campground._id %>/reviews/new"><i class="fas fa-pencil-alt" style="margin-right: 4px;color: #000;"></i><span style="font-family: 'Quicksand', sans-serif;color: #000;">Leave your Review</span></a>
                    </div>
                </div>
            </div>

      <!-- //COMMENT PART -->
      <div class="card">
        <div class="card-body">
          <% if (campground.comments.length === 0) { %>
            <h5>
              <em style="font-family: 'Quicksand', sans-serif;">No comments yet.</em>
            </h5>
          <% } else { %>
          <p><h4 style="font-family: 'Quicksand', sans-serif;">Latest comments for this campground:</h4><em style="font-family: 'Quicksand', sans-serif;">(total comments : <%= campground.comments.length %>)</em></p>
          <hr>
          <!-- campground.reviews.slice(0, 5).forEach(function(review) -->
          <% campground.comments.slice(0, 5).forEach(function(comment) {%>
            <div class="row">
              <div class="col-md-12">
                <img style="width: 4.5%;clip-path: circle();margin-right: 1.5%;" src="<%= comment.author.avatar %>" class="customer-img"><span style="font-family: 'Indie Flower', cursive;">Comment by : <strong><a href="/users/<%= comment.author.id %>"><%= comment.author.username %></a></strong></span>
                <span class="float-right" style="font-family: 'Quicksand', sans-serif;"><%= moment(comment.createdAt).fromNow() %></span>
                <p style="margin-left: 6%;font-family: 'Quicksand', sans-serif;">
                  <%= comment.text %>
                </p>
                <%if((currentUser && comment.author.id.equals(currentUser._id)) || (currentUser && currentUser.isAdmin)){%>
                <a href="/campgrounds/<%= campground._id %>/comments/<%=comment._id%>/edit" style="margin-left: 6%"><i class="far fa-edit" style="color: #000;"></i></a>
                <form class="delete-form" action="/campgrounds/<%= campground._id %>/comments/<%=comment._id%>?_method=DELETE" method="post">
                  <button type="submit" style="border: 0; background: none;">
                    <i class="far fa-trash-alt"></i>
                  </button>
                </form>
                <%}%>
              </div>
            </div>
            <hr>
          <%})%>
          <div style="margin-bottom: 10px;">
              <h4><a href="/campgrounds/<%= campground._id %>/comments"><i class="fa fa-search" aria-hidden="true"></i> <span style="font-family: 'Quicksand', sans-serif;">See all comments</span></a></h4>
          </div>
          <%}%>
          <div>
            <a href="/campgrounds/<%= campground._id %>/comments/new"><i class="fas fa-pencil-alt" style="margin-right: 4px;color: #000;"></i><span style="font-family: 'Quicksand', sans-serif;color: #000;">Leave your comments</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var anchor2 = document.querySelectorAll(".customer-img");
  for (var i = 0; i < anchor2.length; i++) {
    var astyle2 = window.getComputedStyle(anchor2[i]);
    anchor2[i].style.height = astyle2.width;
  }
</script>

<script>

var campground = <%- JSON.stringify(campground) %>

mapboxgl.accessToken = 'pk.eyJ1IjoieWxkMTk5NiIsImEiOiJjanhtaDF6bnMwM3N6M25saXlkeTljNDlpIn0.Qq-DvJT26P1TcR8pqNaeLA';

var map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/light-v10',
  center: campground.geometry.coordinates,
  zoom: 3
});



// add markers to map
// geojson.features.forEach(function(marker) {

  // create a HTML element for our campground feature
  var el = document.createElement('div');
  el.className = 'marker';

//make marker to our location and add it to our map
  new mapboxgl.Marker(el)
  .setLngLat(campground.geometry.coordinates)
  .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
  .setHTML('<h3>' + campground.name + '</h3><p>' + campground.location + '</p>'))
  .addTo(map);
// });

</script>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>


<script type="text/javascript">

  function add_save(current_elem, campground_id) {
    $.ajax({
      cache: false,
      type: "POST",
      url: "/campgrounds/:id/save",
      data: {
        "campground_id": campground_id, 
      },
      dataType: 'json',
      success: function(data) {
        if(data.status == "fail") {
          if(data.msg == "user is not loggedin") {
            window.location.href="/login";
          } 
        }else {     
          // current_elem.html('<i class="fas fa-star">'+data.msg+'</i>');
          if(data.msg == "收藏") {
            current_elem.html('<i class="far fa-star"></i><span><em>Total savings: '+data.num+'</em></span>');
          } else {
            current_elem.html('<i class="far fa-star" style="background-color: gold;"></i><span><em>Total savings: '+data.num+'</em></span>');
          }
        }
      }
    });
  }
  function add_like(current_elem, campground_id) {
    $.ajax({
      cache: false,
      type: "POST",
      url: "/campgrounds/:id/like",
      data: {
        "campground_id": campground_id, 
      },
      dataType: 'json',
      success: function(data) {
        if(data.status == "fail") {
          if(data.msg == "user is not loggedin") {
            window.location.href="/login";
          } 
        }else {     
          // current_elem.html('<i class="fas fa-star">'+data.msg+'</i>');
          if(data.msg == "喜欢") {
            current_elem.html('<i class="far fa-thumbs-up"></i><span><em>Total likings: '+data.num+'</em></span>');
          } else {
            current_elem.html('<i class="far fa-thumbs-up" style="background-color: gold;"></i><span><em>Total likings: '+data.num+'</em></span>');
          }
        }
      }
    });
  }

  $(document).ready(function() {
    $('.jsSaveBtn').on('click', function() {
      add_save($(this), "<%= campground._id %>");
    });
  });
  $(document).ready(function() {
    $('.jsLikeBtn').on('click', function() {
      add_like($(this), "<%= campground._id %>");
    });
  });

</script>

<%- include("../partials/footer") -%>
