<!-- <%- include("../partials/header") -%> -->


<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>YelpCamp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="/stylesheets/main.css">
    <style>
      /*body {
        margin: 0;
        padding: 0;
      }

      #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
      }*/
      .marker {
        background-image: url('/images/mapbox-icon.png');
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
      }

      .mapboxgl-popup {
        max-width: 200px;
      }

      .mapboxgl-popup-content {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
      }
    </style>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script


  </head>
  <body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">

        <a class="navbar-brand" href="/">YelpCamp</a>
         <a class="nav-link" href="/campgrounds">Home <span class="sr-only">(current)</span></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"> 
           <span class="navbar-toggler-icon"></span>
       </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

          <ul class="navbar-nav ml-auto">
            <% if(!currentUser) { %>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/register">Signup</a>
              </li>
            <%} else {%>
              <li class="nav-item">
                <a class="nav-link" href="/users/<%=currentUser._id%>">Hello! <%=currentUser.username%></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Log Out</a>
              </li>
            <%}%>
          </ul>

        </div>

    </nav>

   </div> 


    </nav>

    <div class="container">
      <% if(error && error.length > 0) { %>
        <div class="alert alert-danger" role="alert">
          <%= error %>
        </div>
      <% } %>
      <% if(success && success.length > 0){%>
        <div class="alert alert-success" role="alert">
          <%= success %>
        </div>
      <% } %>
    </div>










<div class="container">
  <div class="row">
    <div class="col-md-3">
      <!-- <p class="lead">YelpCamp</p> -->
      <div class="list-group">
        <li class="list-group-item active">Info 1</li>
        <li class="list-group-item">Info 2</li>
        <li class="list-group-item">Info 3</li>
      </div>
      <div id="map" style="margin-top: 20px;">
        
      </div>
    </div>
    <div class="col-md-9">
      <div class="card">
        <div class="card-columns">
          <% campground.images.forEach(function(image) { %>
            <div class="card">
              <img class="img-fluid card-img-top" src="<%= image.url %>">
            </div>
          <% }); %>
        </div>
      </div>
      <!-- <img class="img-fluid card-img-top" src="<%= campground.images[0].url %>"> -->
      <div class="card">
        <div class="card-body">
          <h4 class="text-right float-right">$<%= campground.price %>/night</h4>
          <h4 class="card-title text-left"><a href="#"><%= campground.name %></a></h4>
          <p class="card-text"><%= campground.description %></p>
          <p class="card-text"><em>submitted by </em><a href="/users/<%= campground.author.id %>"><em><%= campground.author.username %></em></a><em>, <%= moment(campground.createdAt).fromNow() %></em></p>
          <%if((currentUser && campground.author.id.equals(currentUser._id)) || (currentUser && currentUser.isAdmin)){%>
            <a class="btn btn-sm btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
            <form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="post">
              <button class="btn btn-sm btn-danger" type="submit" name="button">Delete</button>
            </form>
          <%}%>
        </div>

      </div>

      <!--Review section-->
      <div class="card">
        <div class="card-body">
          <div>
          <% if (campground.rating === 0) { %>
            <h5>
              <em>No reviews yet.</em>
            </h5>
          <% } else { %>
                    <p>
                        <%- '<span class="fa fa-star stars"></span>'.repeat(campground.rating) %>
                        <em>(total reviews: <%= campground.reviews.length %>)</em>
                    </p>
                    <p>
                        Current campground rating: <strong><%= campground.rating.toFixed(2) %></strong>
                    </p>
                    <p><h4>Latest reviews for this campground:</h4></p>

                    </div>
                    <hr style="margin-top: 0;">
                    <% campground.reviews.slice(0, 5).forEach(function(review){ %>
                    <div class="row">
                        <div class="col-md-3">
                            <%- '<span class="fa fa-star stars"></span>'.repeat(review.rating) %>
                            <div>Review by: <strong><%= review.author.username %></strong></div>
                            <span><em><%= review.updatedAt.toDateString() %></em></span>
                        </div>
                        <div class="col-md-9">
                            <p style="text-align: justify; word-wrap: break-word;">
                                <%= review.text %>
                            </p>
                            <% if(currentUser && review.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn-sm btn-warning"
                               href="/campgrounds/<%=campground._id %>/reviews/<%=review._id %>/edit">Edit</a>
                            <form style="display: inline;" class="delete-form" action="/campgrounds/<%=campground._id %>/reviews/<%=review._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-sm btn-danger" value="Delete">
                            </form>
                            <% } %>
                        </div>
                    </div>
                    <hr>
                    <% }); %>
                    <div style="margin-bottom: 10px;">
                        <h4><a href="/campgrounds/<%= campground._id %>/reviews"><i class="fa fa-search" aria-hidden="true"></i> See all reviews</a></h4>
                    </div>
                    <% } %>
                    <div>
                        <a class="btn btn-outline-dark btn-lg<% if (currentUser && campground.reviews.some(function (review) {return review.author.id.equals(currentUser._id)})) { %> disabled <% } %>" href="/campgrounds/<%= campground._id %>/reviews/new">
                            Write a New Review</a>
                    </div>
                </div>
            </div>

      <!-- //COMMENT PART -->
      <div class="card">
        <div class="card-body">
          <p><h4>Latest comments for this campground:</h4></p>
          <hr>
          <% campground.comments.forEach(function(comment) {%>
            <div class="row">
              <div class="col-md-12">
                Comment by : <strong><%= comment.author.username %></strong>
                <span class="float-right"><%= moment(comment.createdAt).fromNow() %></span>
                <p>
                  <%= comment.text %>
                </p>
                <%if((currentUser && comment.author.id.equals(currentUser._id)) || (currentUser && currentUser.isAdmin)){%>
                <a class="btn btn-sm btn-warning" href="/campgrounds/<%= campground._id %>/comments/<%=comment._id%>/edit">Edit</a>
                <form class="delete-form" action="/campgrounds/<%= campground._id %>/comments/<%=comment._id%>?_method=DELETE" method="post">
                  <input type="submit" class="btn btn-sm btn-danger" value="delete">
                </form>
                <%}%>
              </div>
            </div>
            <hr>
          <%})%>
          <div>
            <a class="btn btn-outline-dark btn-lg" href="/campgrounds/<%= campground._id %>/comments/new" %>/reviews/new">
                            Write a New Comment</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>

var campground = <%- JSON.stringify(campground) %>

mapboxgl.accessToken = 'pk.eyJ1IjoieWxkMTk5NiIsImEiOiJjanhtaDF6bnMwM3N6M25saXlkeTljNDlpIn0.Qq-DvJT26P1TcR8pqNaeLA';

var map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/dark-v10',
  center: campground.coordinates,
  zoom: 3
});



// add markers to map
// geojson.features.forEach(function(marker) {

  // create a HTML element for our campground feature
  var el = document.createElement('div');
  el.className = 'marker';

//make marker to our location and add it to our map
  new mapboxgl.Marker(el)
  .setLngLat(campground.coordinates)
  .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
  .setHTML('<h3>' + campground.name + '</h3><p>' + campground.location + '</p>'))
  .addTo(map);
// });

</script>

<%- include("../partials/footer") -%>
