<% include ../partials/header %>

<div class="container-fluid" style="margin-top: 20px;">
    <div class="row">
        <div class="col-md-12">
            <h1 style="text-align: center;font-family: 'Quicksand', sans-serif;">Review Page: <%= campground.name %></h1>
            <!-- <a href="/campgrounds/<%= campground._id %>">Go back to the campground page</a> -->
            <div class="thumbnail">
                <div class="caption-full">
                    <% if (campground.rating === 0) { %>
                    <h5 style="font-family: 'Quicksand', sans-serif;">
                        <em>No reviews yet.</em>
                    </h5>
                    <% } else { %>
                    <p>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star <% if (campground.rating > 1.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (campground.rating > 2.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (campground.rating > 3.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (campground.rating > 4.5) { %> checked <% } %>"></span>
                        <em style="font-family: 'Quicksand', sans-serif;">(total reviews: <%= campground.reviews.length %>)</em>
                    </p>
                    <p style="font-family: 'Quicksand', sans-serif;">
                        Current campground rating: <strong><%= campground.rating.toFixed(2) %></strong>
                    </p>
                    <p><h4 style="font-family: 'Quicksand', sans-serif;">All reviews for this campground:</h4></p>
                    <hr style="margin-top: 0;">
                    <% campground.reviews.forEach(function(review){ %>
                    <div class="row">
                        <div class="col-md-3">
                            <%- '<span class="fa fa-star checked"></span>'.repeat(review.rating) %>
                            <div style="font-family: 'Indie Flower', cursive;">Review by: <strong><%= review.author.username %></strong></div>
                            <span style="font-family: 'Quicksand', sans-serif;"><em><%= review.updatedAt.toDateString() %></em></span>
                        </div>
                        <div class="col-md-9">
                            <p style="text-align: justify; word-wrap: break-word;font-family: 'Quicksand', sans-serif;">
                                <%= review.text %>
                            </p>
                            <% if(currentUser && review.author.id.equals(currentUser._id)){ %>
                            <a href="/campgrounds/<%=campground._id %>/reviews/<%=review._id %>/edit"><i class="far fa-edit" style="color: #000;"></i></a>
                            <form class="delete-form" action="/campgrounds/<%=campground._id %>/reviews/<%=review._id %>?_method=DELETE" method="POST">
                               <button type="submit" style="border: 0; background: none;">
                                <i class="far fa-trash-alt"></i>
                                </button>
                            </form>
                            <% } %>
                        </div>
                    </div>
                    <hr>
                    <% }); %>
                    <% } %>
                    <div>
                        <a class="<% if (currentUser && campground.reviews.some(function (review) {return review.author.id.equals(currentUser._id)})) { %> disabled <% } %>" href="/campgrounds/<%= campground._id %>/reviews/new">
                            <i class="fas fa-pencil-alt" style="margin-right: 4px;color: #000;"></i><span style="font-family: 'Quicksand', sans-serif;color: #000;">Leave your Review</span></a>
                    </div>
                    <div style="margin-top: 10px;">
                        <a class="btn btn-default" href="/campgrounds/<%= campground._id %>" style="font-family: 'Quicksand', sans-serif;color: #000;"><i class="fa fa-arrow-left"></i> Go back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Review section-->
</div>

<% include ../partials/footer %>
